body{
    margin: 0px;
    padding: 0px;
}
.container-fluid{
    height: 100vh;
    background-color: #0f1f57;
    display: flex;
    justify-content: center;
}
#game{
    background-color: lightgray;
    width: 50%;
    height: 400px;
}
.stats{
    border: 2px solid black;
    display: flex;
    gap: 5rem;
    padding: 5px;
    background-color: lightgray;
    padding: 5px 5px;
    margin: 5px;
}
.stat{
    display: inline-block;
 
}
.controls{
    border: 2px solid black;
}
 #button1{
    display: inline-block;
    padding: 2px 5px; 
    border-radius: 5px;
    margin: 5px;
}
#button2{
    display: inline-block;
    padding: 2px 5px; 
    border-radius: 5px;
    margin: 5px;
}
#button3{
    display: inline-block;
    padding: 2px 5px; 
    border-radius: 5px;
    margin: 5px;
}
.text{
    height:75%;
    width: 95%;
    color: white;
    font-weight: bold;
    padding: 5px;
    background-color: black;
}
#monsterStats {
    display : none;
    border: 1px solid solid;
    color: white;
    padding: 5px;
    background-color: red;;
}
